<!DOCTYPE html>
<html>
<head>
	<title>查询报名情况</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../public/static/css/bootstrap.css">
	<script src="../public/static/js/jquery-1.11.3.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="../public/static/js/bootstrap.js"></script>
	<style type="text/css">
	nav li{
		float: left;
	}
	
</style>
</head>
<body>

	


<!-- 		<h1 class="page-header">e光青年志愿者服务队报名表</h1>
-->	<div class="container">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">e光青年志愿者服务队报名情况</a>
			</div>
			<div>
				<ul class="nav navbar-nav">

					<li><a href="index.html">招新页面</a></li>
					<li><a href="signUp.html">报名页面</a></li>

				</ul>
			</div>
		</div>
	</nav>
	<!-- <div class="text-center">
		<p>您还未报名，请点击<a href="signUp.html">报名页面</a>进行报名。</p>
	</div> -->
	<div class="text-center">
		<p>您已报名成功！</p>
	</div>



</div>



</body>
</html>