<!DOCTYPE html>
<html>
<head>
	<title>报名表</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../public/static/css/bootstrap.css">
	<script src="../public/static/js/jquery-1.11.3.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="../public/static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../public/static/js/verify.js"></script>
	<style type="text/css">
	nav li{
		float: left;
	}
	
</style>
</head>
<body>


<!-- 		<h1 class="page-header">e光青年志愿者服务队报名表</h1>
-->	<div class="container">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">e光青年志愿者服务队报名表</a>
			</div>
			<div>
				<ul class="nav navbar-nav">

					<li><a href="eshine">招新页面</a></li>
					<li><a href="query">查询报名情况</a></li>

				</ul>
			</div>
		</div>
	</nav>

<form action="apply" enctype="multipart/form-data" method="post" id="myForm">
	<div class="row">
		<div class="form-group col-md-3">
			<label for="" >姓名：</label>
			<input type="text" class="form-control" name="name" required id="studentName">
		</div >
		<div class="form-group col-md-4">
			<label for="class" >班别：</label>
			<select name="class" id="class" class="form-control" >
				<option value="信工一班">信工一班</option>
				<option value="信工二班">信工二班</option>
				<option value="信工三班">信工三班</option>
				<option value="信工四班">信工四班</option>
				<option value="信工五班">信工五班</option>
				<option value="电科一班">电科一班</option>
				<option value="电科二班">电科二班</option>
				<option value="电科卓越班">电科卓越班</option>
				<option value="信工冯班">信工冯班</option>
			</select>
		</div >
	</div>

	<div class="row">
		<div class="form-group col-md-4">
			<label for="" >手机号码：</label>
			<input type="text" class="form-control" name="phone" required id="phone">
		</div>
		<div class="form-group col-md-4">
			<label for="" >宿舍地址：</label>
			<input type="text" class="form-control" name="domi">
		</div >
	</div>

	<div class="row">

		<div class="form-group col-md-4">
			<label for="" >邮箱：</label>
			<input type="text" class="form-control" name="email">
		</div>
		<div class="form-group col-md-4">
			<label for="" >qq号码：</label>
			<input type="text" class="form-control" name="qq">
		</div>
	</div>

	<div class="row">

		<div class="form-group col-md-4" >
			<label for="">已加入组织或部门（包括所有部门和组织）：</label>
			<input type="text" class="form-control" name="department">
		</div>
	</div>

	<div class="form-group">
		<label for="">个人介绍（性格兴趣特长等）：</label>
		<textarea class="form-control" name="introduce"> </textarea>
	</div>

	<div class="form-group">
		<label for="">你认为如何才能做一个合格的志愿者：</label>
		<textarea class="form-control" name="how"> </textarea>
	</div>

	<div class="form-group">
		<label for="">对服务队活动的一些建议和期望：</label>
		<textarea class="form-control" name="suggestion"> </textarea>
	</div>

	<div class="form-group">
		<label> 相片上传：</label>
		<input type="file" name="image" >
	</div>
	<div class="form-group">
		<!-- <input type="submit" name="" value="提交" class="btn btn-primary" > -->
		<input type="button" name="" value="提交" class="btn btn-primary" onclick="verify()">
		<input type="reset" name="" value="撤销" class="btn btn-p">
	</div>
</form>
</div>
</body>
</html>